.about {
    margin-top: 50px;
    margin-bottom: 120px;
}

.about__inner {
    position: relative;
}

.about__image {
    position: absolute;
    max-width: 760px;
    max-height: 420px;
    right: 0;
    object-fit: cover;
}

.about__text-top {
    padding-top: 10px;
    margin-bottom: 80px;    
    font-size: 15px;
}

.about__top {
    max-width: 620px;
}

.about__images {
    display: flex;    
    justify-content: center;
    align-items: center;    
}

.about__item {
    height: 320px;
    margin-right: 20px;    
}

.about__item:first-child {
    flex-grow: 0.3;     
}

.about__item:last-child {
    flex-grow: 0.2;       
    margin-right: 0;
}

.about__item-img {
    width: 100%;    
    object-fit: fill;    
}