.breadcrumbs {
    background-image: url(../img/background/breadcrumbs.jpg);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 130px;
    display: flex;
    align-items: center;
}

.breadcrumbs__list {
    font-size: 11px;
    line-height: 40px;        
    color: #fff;
    text-transform: uppercase;   
}

.breadcrumbs__item {
    display: inline-block;
    position: relative;

    &+li {
        padding-left: 24px;

        &::before {
            content: '/';
            position: absolute;
            left: 8px;
            color: #fff;
        }
    }     
}

.breadcrumbs__link {
    text-decoration: underline;
}

.breadcrumbs__title {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
}
