.catalogue {
    background-image: url(../img/background/catalogue.jpg);    
    background-repeat: no-repeat;
    background-position: center;
    min-height: 790px;
    position: relative;
    margin-top: -45px;
    z-index: -1;
}

.catalogue__info {
    position: absolute;
    min-width: 650px;
    min-height: 400px;
    background-color: rgba(0,0,0,.65);
    color: #fff;
    left: 11%;
    top: 16%;
    padding-top: 64px;
    padding-left: 72px;
    text-transform: uppercase;
}

.catalogue__title {
    font-size: 20px;
    line-height: 40px;    
    font-weight: 600;    
}

.catalogue__descr {
    max-width: 431px;    
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;    
}

.catalogue__button {
    margin-top: 43px;
}

