.category__inner {
    margin: 50px 0 90px;
    display: flex;
    justify-content: space-between;
}

.category__filters {
    display: flex;
    flex-direction: column;
    max-width: 230px;
}

.category__filter {
    display: flex;
    flex-direction: column;
    
}
.category__filter-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.category__filter-title {
    font-size: 16px;    
    font-weight: 700;
    color: #081225;
    text-transform: uppercase;
    margin-right: 10px;    
}

.category__filter-arrow {
    width: 14px;
}

.category__products {
    min-width: 890px;
}
