.content {
    margin-top: 100px;
}

.content__inner {
    display: flex;  
    justify-content: space-between;
    align-items: center;    
}

.content__box {  
    text-align: end;
    width: 47%;      
}

.content__subtitle {
    margin-bottom: 47px;
}

.content__text {
    // max-width: 530px;
}

.content__image {
    min-height: 453px;
    max-width: 838px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}





