.content {
    margin: 100px 0;
}

.content__inner {
    display: flex;  
    justify-content: space-around;      
}

.content__img {
    max-height: 453px;
    max-width: 838px;
    background-repeat: no-repeat;
}

.content__box {    
    padding: 10px;
    margin-right: 70px;
}

.content__header {
    font-size: 50px;
    line-height: 40px;
    font-weight: 700;
    color: #79b51c;
    text-transform: uppercase;
}

.content__subheader {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

