.content {
    margin-top: 100px;
}

.content__inner {
    display: flex;
    justify-content: space-between;
}

.content__box {
    width: 49%;
    max-height: 400px;
    margin: 15px;
    overflow-y: scroll;
    text-align: end;
}

.content__box::-webkit-scrollbar {
    width: 4px;
    background-color: #dfdfdf;       
}

.content__box::-webkit-scrollbar-track {
    background-color: #dfdfdf;    
}

.content__box::-webkit-scrollbar-thumb {
    width: 10px;
    height: 50px;
    border-radius: 5px;
    background-color: #84b81a;
}

.content__wrapper {
    padding: 30px 50px 20px 250px;
}

.content__text {
    margin-top: 30px;    
}

.content__image {
    min-height: 453px;
    max-width: 838px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}