.footer__top {
    background-color: #fafafa;
    position: relative;
}

.footer__send {
    position: absolute;
    width: 675px;
    height: 460px;
    background-color: #000;
    bottom: 10%;
    right: 0;
    padding: 60px 80px;
    color: #fff;
}

.form__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.form__schedule {
    font-size: 15px;
    line-height: 40px;
    color: #5b5b5b;
}

.footer__form {
    display: flex;
    flex-direction: column;    
}

.footer__form-input {
    margin-top: 35px;
    max-width: 300px;
    background: transparent;
    border-bottom: 1px solid #5b5b5b;;
    font-size: 12px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__form-button {   
    font-size: 12px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase; 
    padding: 8px 45px;
    display: flex;
    align-items: center; 
    max-width: 200px;         
    
    svg {
        width: 23px;
        fill: #fff;
        margin-left: 15px;
    }
}

.footer__nav {
    display: flex;
    padding: 65px 0 80px;
}

.footer__nav-items {
    width: 260px;
}

.footer__nav-title {
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__nav-item {
    margin-top: 25px;
    line-height: 35px;
}

.footer__nav-link {
    transition: 0.5s ease;
    
    &:hover {
        color: #79b51c;
    }
}

.footer__nav-list+.footer__nav-list {
    margin-top: 10px;
}

.footer__bottom {
    background-color: #79b51c;
}

.footer__bottom-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.footer__phone {
    color: #fff;
}

.footer__adress {
    color: #fff;
    line-height: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        border: 1px solid #a1c667;
        height: 46px;
        left: -20%;
        transform: rotate(22deg);
    }

    &::after {
        content: '';
        position: absolute;
        border: 1px solid #a1c667;
        height: 46px;
        right: -20%;
        transform: rotate(22deg);
    }
}

.footer__socials-list {
    display: flex;
    align-items: center;
    transition: 0.7s ease;

    svg {
        height: 17px;
        width: 17px;
        fill: #fff;
    }
}

.footer__links:hover {
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #79b51c;
    }
}

.footer__links+.footer__links {
    margin-left: 30px;
}