.footer__top {
    background-color: #fafafa;
}

.footer__nav {
    display: flex;
    padding: 65px 0 80px;
}

.footer__nav-items {
    width: 260px;
}

.footer__nav-title {
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__nav-item {
    margin-top: 40px;
    line-height: 35px;
}

.footer__nav-list {
    transition: 0.5s ease;
    
    &:hover {
        color: #79b51c;
    }
}

.footer__nav-list+.footer__nav-list {
    margin-top: 15px;
}

.footer__bottom {
    background-color: #79b51c;
}

.footer__bottom-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

.footer__phone {
    color: #fff;
}

.footer__adress {
    color: #fff;
    line-height: 40px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        border: 1px solid #a1c667;
        height: 46px;
        left: -20%;
        transform: rotate(22deg);
    }

    &::after {
        content: '';
        position: absolute;
        border: 1px solid #a1c667;
        height: 46px;
        right: -20%;
        transform: rotate(22deg);
    }
}

.footer__socials-list {
    display: flex;
    align-items: center;
    transition: 0.7s ease;

    svg {
        height: 17px;
        width: 17px;
        fill: #fff;
    }
}

.footer__links:hover {
    background-color: #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        fill: #79b51c;
    }
}

.footer__links+.footer__links {
    margin-left: 30px;
}