.galery__inner {
    margin-top: 115px;
}

.galery__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;            
}

.galery__box {
    text-align: end;
}

.galery__slider {
    margin-top: 70px;    
    position: relative;    
}

// .galery__slider-inner {
//     height: 350px;
// }

.galery__arrow {
    position: absolute;
    top: 35%;
    width: 70px;
    height: 80px;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-color: none;

    svg {
        width: 22px;
        height: 23px;
        fill: #79b51c;
    }
}

.galery__arrow-prev {
    left: 0%;
}

.galery__arrow-next {
    right: 0%;
}

.galery__image {
    max-width: 350px;
    outline:none;
    transition: all .4s;
    img {
        max-width: 100%;
        max-height: 250px;
        width: 100%;
        height: 100%;
        display: flex;
        object-fit: cover;
        transition: all .4s;
    }
}

.galery__image.slick-current + .galery__image {
    width: 474px;
    height: 338px;
    img {
        max-height: 100%;
    }
}

.galery__img {
    height: 338px;
    display: flex;
    align-items: center;
}