.header {
    height: 93px;   
    display: flex;
    align-items: center;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 175px;
    height: 30px;
}

.header__item {
    font-size: 12px;
    line-height: 35px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s;    

    &:hover {            
        color: #79b51c;
        border-bottom: 3px solid #79b51c;   
    }
}      

.header__item + .header__item {
    margin-left: 25px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__phone {
    margin-right: 35px;
}

.header__info {
    display: flex; 
    justify-content: space-between;
    align-items: center;   
}