.popular {
    margin-top: 87px;
    margin-bottom: 80px;
}

.popular__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;            
}

.popular__box {
    text-align: end;
}

.popular__slider {
    margin-top: 100px;
    display: flex;
}

.slick-dots {
    text-align: center;
    margin: 50px;

    li {
        display: inline-block;
        margin: 0 35px;        

        &.slick-active {
            button {
                background-color: #000;
            }
        }
    }

    button {        
        background-color: #d9d9d9;
        border: none;
        font-size: 0;
        width: 55px;
        height: 5px;
        cursor: pointer;
        outline: none;
    }
}

.popular__product-name {
    font-size: 25px;    
    font-weight: 700;
}

.popular__product-inner {
    display: flex;    
    align-items: center;
    margin-top: 20px;
}

.popular__product-descr {
    margin-left: 25px;
    font-size: 13px;
    line-height: 30px;
    color: #4f5057;
}

.popular__product-heading {
    display: inline-block;
    min-width: 210px;   
    font-weight: 700;    
    margin-right: 25px;
}

.popular__product-link {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;    
    text-transform: uppercase;
    color: #79b51c;
}