.portfolio {
    background-image: url(../img/background/portfolio.jpg);
    background-repeat: no-repeat;
    margin-bottom: 180px;      
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.portfolio__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    margin-top: 87px;
}

.portfolio__box {
    text-align: end;
}

.portfolio__title {
    color: #fff;
}

.portfolio__subtitle {
    color: #79b51c;
}

.portfolio__descr {    
    color: #c8c8c8;
}

.portfolio__works {
    margin-top: 92px;
    display: flex;
    flex-wrap: wrap;    
}

.portfolio__work {
    max-width: 375px;
    max-height: 365px;
    margin-right: 18px;
    position: relative;

    &:last-child {
        max-width: 769px;
    }
}

.portfolio__work-link {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    width: 350px;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center; 
    transition: 0.3s ease;

    &:hover {
        background-color: #79b51c;
    }
}

.portfolio__work-title {
    margin-left: 40px;
    max-width: 210px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.portfolio__catalogue {  
    display: flex;
    justify-content: center;    
    font-weight: 600; 
    line-height: 50px;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    background-color: #79b51c;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 45px;
}