.portfolio {
    background-image: url(../img/background/portfolio.jpg);
    background-repeat: no-repeat;
    margin-bottom: 180px;
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 92px;
}

.portfolio__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;    
}

.portfolio__box {
    text-align: end;
}

.portfolio__title {
    color: #fff;
}

.portfolio__subtitle {
    color: #79b51c;
}

.portfolio__descr {
    color: #c8c8c8;
}

.portfolio__works {    
    display: flex;
    flex-wrap: wrap;
}

.portfolio__work {
    margin-right: 13px;
    position: relative;
    margin-bottom: 10px;
    transition: 0.4s all;

    &:last-child {
        max-width: 774px;
    }

    &:hover {       
        .portfolio__work-link {
            background-color: #79b51c;
        }
    }
}

.portfolio__work-image {
    min-width: 375px;
    height: 350px;       
}

.portfolio__work-img {
    height: 100%;
    width: 100%;
}

.portfolio__work-link {
    position: absolute;
    z-index: 1;
    bottom: 8%;
    width: 350px;
    height: 80px;
    background-color: #000;
    display: flex;
    align-items: center;
}

.portfolio__work-title {
    margin-left: 40px;
    max-width: 210px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.portfolio__catalogue {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 50px;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    background-color: #79b51c;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 38px;
}