.portfolio {
    background-image: url(../img/background/portfolio.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    min-height: 434px;
}

.portfolio__inner {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.portfolio__info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
    margin-top: 87px;
}

.portfolio__box {
    text-align: end;
}

.portfolio__title {
    color: #fff;
}

.portfolio__subtitle {
    color: #79b51c;
}

.portfolio__descr {    
    color: #c8c8c8;
}

.portfolio__catalogue {  
    display: flex;
    justify-content: center;    
    font-weight: 600; 
    line-height: 50px;
    width: 350px;
    height: 45px;
    border-radius: 5px;
    background-color: #79b51c;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}