.products {
    margin-top: 80px;
}

.products__inner {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.products__item {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    &:nth-child(even) {
        flex-direction: row-reverse;
        .products__title {

        }
    }
}

.products__image {
    max-height: 250px;
    max-width: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products__info {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    flex-grow: 0.2;
    margin-left: 50px;
    position: relative;   
    justify-content: flex-end; 
    &:hover {
        .products__title {
            background-color: #8dc03e;
        }
        .products__link {
            color: #8dc03e;
            svg path {
                fill: currentColor;
            }
        }
    }
}

.products__info-reverse {
    align-items: flex-end;
    text-align: end;
    margin-right: 50px;
}

.products__title { 
    margin-left: -83px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 450px;
    height: 80px;
    display: inline-flex;
    justify-content: center;  
    align-items: center;  
    transition: 0.4s all;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
        background-color: #8dc03e;
    }
}

.products__title-reverse {
    margin-left: initial;
    margin-right: -100px;
}

.products__title-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase; 
    color: #fff !important;
    margin-right: 50px;
}

.products__category-reverse {
    right: -80px;
}

.products__descr {
    color: #777;
    font-size: 14px;
    line-height: 25px;    
    
}

.products__link {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: 0.3s ease;
    margin-top: 10px;

    &:hover {
        color: #8dc03e;
    }

    svg {
        height: 12px;
        width: 12px;
        margin-left: 15px;
    }
}