.product__inner {
    margin: 50px 0 90px;
    display: flex;
    justify-content: space-between;
}

.product__slider {
    max-width: 540px;     
}

.product__slider-inner {
    margin-bottom: 30px;
}

.product__slider-item {    
    min-height: 540px;  
    outline: none;        
}

.product__slider-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.product__preview-item {
    height: 130px;
    width: 120px;
    padding-top: 10px;
    margin-right: 20px;
    outline: none;
    position: relative;    
    
    &:last-child {
        margin-right: 0;
    }    
}

.product__preview-item.slick-current::before {
    content: '';
    position: absolute;
    width: 100%;
    border: 2px solid #00618e;
    top: 0;
}

.product__info {    
    max-width: 580px;
    width: 100%;
}

.product__info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e2e3e5;
    text-align: left;
    padding-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;           

    &:first-child {
        margin-top: 0;
    }
}

.product__info-item--active {
    .product__info-arrow {
        transform: rotate(-180deg);       
    }
    
    .product__info-title {
        color: #79b51c;
    }

    .product__info-descr {
        display: block;
    }
}

.product__info-header {
    display: flex;           
}

.product__info-arrow {
    width: 14px;
}

.product__info-title {  
    margin-right: 30px;  
    font-size: 20px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s all;       

    &:hover {
        color: #79b51c;
    }
}

.product__info-descr {
    display: none;
}

.product__info-head {
    font-size: 14px;
    line-height: 25px;
    font-weight: 700;
    color: #777777;
    margin:15px 0 30px;
}

.product__info-text {
    font-size: 14px;
    line-height: 27px;
}