.products {
    margin-top: 80px;
}

.products__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__item {
    width: 100%;
    display: flex;     
    justify-content: space-evenly;
    margin-bottom: 40px;    
}

.products__image {
    max-height: 250px;
    max-width: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.products__info {
    
}

.products__category {    
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;   
    text-transform: uppercase;
}

.products__descr {
    color: #777;
    font-size: 14px;
    line-height: 25px;
}