.select {
    position: relative;
    width: 30px;
    font-size: 12px;
    font-weight: 700;    
}

.select__current {    
    position: relative;
    cursor: pointer;
    transition: all 0.3s;

    &::before {
        content: '';
        position: absolute;
        background-image: url(../img/icons/arrow-down.svg);
        background-repeat: no-repeat;
        width: 8px;
        height: 4px;
        color: #79b51c;        
    }
}

.select.is-active .select__body {
    display: block;
  }

.select__body {
    border-top: 0;
    display: none;
    left: 0;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 100%;      
    cursor: pointer;     
}

