.slider__item {
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.slider__info {
    max-width: 400px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    padding-top: 95px;    
    z-index: 5;
}

.slider__title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.slider__descr {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
}

.slider__btn {
    display: inline-block;  
    margin-top: 50px;  
    font-weight: 600;   
    padding: 8px 31px;
    background: #79b51c;
    border-radius: 5px;           
}