.slider {
    position: relative;
}

.slider__item {
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
}

.slider__info {
    max-width: 400px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    padding-top: 95px;
    z-index: 5;
}

.slider__title {
    font-size: 20px;
    line-height: 40px;
    font-weight: 600;
}

.slider__descr {
    font-size: 30px;
    line-height: 45px;
    font-weight: 300;
}

.slider__button {
    display: inline-block;
    margin-top: 50px;
    font-weight: 600;
    padding: 8px 31px;
    background: #79b51c;
    border-radius: 5px;
    color: #fff;
}

.slider__arrow {
    position: absolute;
    top: 45%;
    width: 70px;
    height: 80px;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline-color: none;

    svg {
        width: 22px;
        height: 23px;
        fill: #79b51c;
    }
}

.slider__arrow-prev {
    left: 0%;
}

.slider__arrow-next {
    right: 0%;
}