@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: 'MuseoSansCyrl';
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("../MuseoSansCyrl-300.woff") format("woff");
}

